html, body {
  height: 100%;
}

/* Navbar Link Text */
.nav-item {
    font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("Images/background-image.png");
}

h1 {
  margin-left: 15px;
}

/* Container Around About Me */
#aboutme {
    background-color: #C9BBC5;
    float: left;
    margin-left: 15px;
    margin-right: 15px; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
}

/* Container Around Contact Form */
#contactform {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: #C9BBC5;
}

/* Container Around Portfolio Images */
#portfolio-images {
  background-color: #C9BBC5;
  float: left;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 30px;
}

/* Imags Inside Portfolio Container */
.col-sm-6 {
  padding: 15px;
}

/* Sets The Sticky Footer - Do Not Touch */
.content {
  flex: 1 0 auto;
}

 /* Bio Image */
#profile-img {
    margin-right: 12px;
    margin-bottom: 12px;
}

/* Sticky Footer */
  footer {
    flex-shrink: 0;
    color: white;
    text-align: center;
    border-top: solid 3px #7a617a;
    background-color: #453641;
}


/* TESTING Media Queries */

/* @media (min-width: 568px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */