
/* Navbar Link Text */
.nav-item {
    font-weight: bold;
}

body {
    background-image: url("Images/background-image.png");
}

/* Container Around About Me */
.container-sm {
    background-color: #C9BBC5;
    float: left;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 5px;
}

 /* Bio Image */
img {
    margin-right: 12px;
    margin-bottom: 12px;
}

/* Sticky Footer */
  footer {
    color: white;
    background-color: #453641;
}